# VSCode configuration
.vscode/

# WebStorm configuration
.idea/

# Python virtual environment
.venv/

# API keys
.env
secrets.js

# Build artifacts and vision files
vision/
Builds/
build

# Images files
src/imgs/header/
src/imgs/gifs/
src/imgs/screenshots/
src/imgs/icons/1/
src/imgs/icons/2/
src/imgs/bio/1/
src/imgs/people/1/
src/imgs/releaseDate/1/
src/imgs/magicWand/1/

# Adobe Photoshop files
*.psd

# SCSS compiled files
*.css
*.css.map

# Mac OS system files
*.ds_store

# NPM
.yarn
node_modules