# VSCode configuration
.vscode/

# WebStorm configuration
.idea/

# Python virtual environment
.venv/

# API keys
.env

# Build artifacts and vision files
vision/
Builds/
build

# Image files
src/images/header/
src/images/gifs/
src/images/screenshots/
src/images/icons/1/
src/images/magicWand/48x48.png
src/images/magicWand/512x512.png

# Adobe Photoshop files
*.psd

# CSS source maps
*.css.map

# Mac OS system files
*.ds_store

.yarn
node_modules
