:root {
    --input-radius: 10px;
    --box-radius: 5px;
}

// Right buttons panel on the new song page

.LyricsEditdesktop__ControlsContainer-sc-19lxrhp-2 {
    .header-div {
        .header-buttons {
            display: flex;
            flex-wrap: wrap;
            width: 80%;

            button {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .header-option {
            margin: 0 10px 10px 0;
        }
    }
}

// Song Metadata

#edit-metadata-overlay.dSfHrp {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.ScrollableTabs__TabNavContainer-sc-179ldtd-1.hcTmMk {
    display: none;
    border-radius: 10px 10px 0 0;
}

.ScrollableTabs__ContentArea-sc-179ldtd-5.iYNXFF {
    border-radius: 10px;

    //section:nth-child(even),
    //section:nth-child(odd) {
    //    border-bottom: 1px dashed rgb(90, 90, 90);
    //}

    h3 {
        color: hsl(240, 68%, 6%);
        text-align: start;
    }

    label {
        margin-bottom: 0.5em;
        font-size: .9rem;
        //color: hsl(232deg 14% 68%);
    }

    .bECqMC {
        border-radius: 10px;
        background-color: #fafafa;
        border: solid 1px black;
    }

    input,
    .css-18ubn8j-control,
    .iEuXAw>div, // song art preview
    .diuQvC { //song gradient preview
        //  height: 38px;
        //border: 1px solid hsl(0deg 0% 86%);
        border-radius: var(--input-radius);

        .css-qfdv9 {
            //padding: 0;

            //&:hover,
            //&:focus {
            //    padding: 0px;
            //}

            .css-osj7q0-placeholder {
                color: hsl(0deg 0% 86%);
            }

            .css-1o8rpk3-multiValue,
            .css-1gktw6v-multiValue {
                border-radius: var(--box-radius);
            }
        }

        >img {
            border-radius: var(--input-radius);
        }
    }

    input {
        &:focus {
            border-color: yellow !important;
            //height: 38px;
        }
    }

    .css-1lh6pps-menu,
    .css-14nse5q {
        border-radius: 0 0 10px 10px;
    }
}

.QuestionTemplate__Container-sc-1is5n1p-1 {
    border-bottom: 1px solid !important;

    .css-1lh6pps-menu,
    .css-14nse5q {
        border-radius: 0 0 10px 10px;
    }
}
