:root {
    --input-radius: 10px;
    --box-radius: 5px;
}

// Right buttons panel on the new song page

.LyricsEditdesktop__ControlsContainer-sc-19lxrhp-2 {
    .header-div {
        .header-buttons {
            display: flex;
            flex-wrap: wrap;
            width: 80%;

            button {
                margin-right: 15px;

                &:last-child {
                    margin-right: 0;
                }
            }
        }

        .header-option {
            margin: 0 10px 10px 0;
        }
    }
}

// Top right menu

div>div>div[width="narrow"]:has(a[href="/feedback/new"]) {
    border-radius: 10px;

    >a,
    >div {
        border-top: none;

        &:hover {
            padding-left: 15px;
        }
    }
}

// Song Metadata

#edit-metadata-overlay.dSfHrp {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
}

.ScrollableTabs__TabNavContainer-sc-179ldtd-1.hcTmMk {
    display: none;
    border-radius: 10px 10px 0 0;
}

.ScrollableTabs__ContentArea-sc-179ldtd-5.iYNXFF {
    border-radius: 10px;

    h3 {
        color: hsl(240, 68%, 6%);
        text-align: start;
    }

    label {
        margin-bottom: 0.5em;
        font-size: .9rem;
    }

    .bECqMC {
        border-radius: 10px;
        background-color: #fafafa;
        border: solid 1px black;
    }

    input,
    .css-18ubn8j-control,
    .iEuXAw>div, // song art preview
    .diuQvC { //song gradient preview
        &:not(input:not(.iweFBO)) {
            border-radius: var(--input-radius);
        }

        .css-qfdv9 {

            .css-osj7q0-placeholder {
                color: hsl(0deg 0% 86%);
            }

            .css-1o8rpk3-multiValue,
            .css-1gktw6v-multiValue {
                border-radius: var(--box-radius);
            }
        }

        >img {
            border-radius: var(--input-radius);
        }
    }

    input {
        &:focus {
            border-color: yellow !important;
        }
    }

    .css-1lh6pps-menu,
    .css-14nse5q {
        border-radius: 0 0 10px 10px;
    }
}

.QuestionTemplate__Container-sc-1is5n1p-1 {
    border-bottom: 1px solid !important;

    .css-1lh6pps-menu,
    .css-14nse5q {
        border-radius: 0 0 10px 10px;
    }
}

// Verified lyrics indicator
.ge-verified-by {
    gap: 0.5rem;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    font-size: 16px;
    color: rgb(36, 198, 9);

    .ge-verified-link {
        margin: 0;
    }

    .ge-checky-container {
        display: flex;
        -webkit-box-align: center;
        align-items: center;
    }
}

.results-arrows {
    display: inline-flex;
    float: right;
    gap: 5px;

    >.arrow {
        padding: 0 5px;
        user-select: none;
        cursor: pointer;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #585858;
        }

        &[disabled] {
            color: #a0a0a0;
            cursor: not-allowed;
        }
    }
}
