body {
  background-color: #ffff65 !important;
}
body #main .avatar {
  border-radius: 50% !important;
}
body #main #firehose {
  width: 100% !important;
}
body #main #firehose .activity_stream_event_unit {
  border-radius: 5px 5px 10px 10px !important;
  padding: 10px !important;
  margin: 10px !important;
}
body #main #firehose .activity_stream_event_unit.unread:not(.details_loaded):before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #ff1464;
  background-position: 0 0;
  border-radius: 10px 10px 0 0;
}
body #main #firehose .activity_stream_event_unit .target, body #main #firehose .activity_stream_event_unit .target .event_context, body #main #firehose .activity_stream_event_unit .target *.annotation_container, body #main #firehose .activity_stream_event_unit .target *.stand_alone_annotation_container, body #main #firehose .activity_stream_event_unit .target *.stand_alone_referent {
  border-radius: 10px !important;
}
body #main #firehose_filters input::-moz-placeholder {
  color: black !important;
}
body #main #firehose_filters label,
body #main #firehose_filters legend,
body #main #firehose_filters input,
body #main #firehose_filters input::placeholder,
body #main #firehose_filters select {
  color: black !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge {
  padding: 5px !important;
  margin: 5px 0px !important;
  background-color: rgba(128, 128, 128, 0.6) !important;
  border-radius: 10px !important;
  max-width: 154px !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge .login:hover, body #main #firehose_filters #selected_users .selected_user .user_badge .iq_value:hover {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  color: white !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge .login:hover.iq_value, body #main #firehose_filters #selected_users .selected_user .user_badge .iq_value:hover.iq_value {
  font-size: 12px !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge .iq_value {
  color: black !important;
  font-size: 9px !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge .badge_avatar_wrapper:hover {
  background-color: none !important;
  padding: 0px !important;
}
body #main #firehose_filters #selected_users .selected_user .user_badge .badge_avatar_wrapper:hover .avatar {
  background-color: none !important;
  transform: scale(1.1) !important;
}
body #main #firehose_filters #selected_users .selected_user .remove_selected_user {
  padding-top: 8.5px !important;
  color: rgb(200, 0, 0) !important;
}
body #main #firehose_filters #selected_users .selected_user .remove_selected_user:hover {
  color: rgb(255, 0, 0) !important;
}
body #main #firehose_filters .chzn-choices,
body #main #firehose_filters input:not(.chzn-choices input) {
  background-color: rgba(128, 128, 128, 0.2) !important;
  border-radius: 10px !important;
}
body #main #firehose_filters .chzn-choices:hover,
body #main #firehose_filters input:not(.chzn-choices input):hover {
  background-color: rgba(128, 128, 128, 0.4) !important;
}
body #main #firehose_filters .chzn-choices:focus,
body #main #firehose_filters input:not(.chzn-choices input):focus {
  background-color: rgba(128, 128, 128, 0.6) !important;
  border-width: 0px !important;
}
body #main #firehose_filters legend {
  border-width: initial !important;
  border-style: none !important;
  border-color: initial !important;
  -o-border-image: initial !important;
     border-image: initial !important;
  font-size: 15px !important;
  padding: 0px !important;
  margin: 0px !important;
  float: unset !important;
  line-height: unset !important;
  width: unset !important;
}
body #main #firehose_filters fieldset > legend + * {
  clear: both;
}
body #main #firehose_filters fieldset {
  margin: 20px;
  border: 1px solid;
  border-radius: 10px;
  background-color: rgba(128, 128, 128, 0.2) !important;
}
body #main #firehose_filters fieldset legend {
  padding: 0px 10px !important;
  border-radius: 10px !important;
  border: 1px solid #cccccc !important;
  background-color: #ffff65 !important;
  right: -10px !important;
}
body #main #firehose_filters fieldset input {
  max-width: 178px;
}/*# sourceMappingURL=firehose.css.map */