@keyframes float {
    0% {
        transform: translatey(7.5px) scale(0.8);
    }

    50% {
        transform: translatey(-7.5px) scale(0.85);
    }

    100% {
        transform: translatey(7.5px) scale(0.82);
    }
}

#ge-powerbar {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    filter: drop-shadow(0mm 4mm 4mm rgba(160, 0, 210, 0.3));

    >#powerbar-input {
        border-radius: 20px;

        display: flex;
        align-items: center;
        background: #302d4a;
        color: #f3f3f3;
        width: 500px;
        height: 65px;
        padding: 0 20px;
        font-family: 'Nunito';
        font-size: 20px;
        font-weight: 400;
        border: none;
        outline: none;

        &:active {
            transform: scale(0.95);
        }

        &.powerbar-input-warning {
            background: #d14140;
        }
    }

    >#powerbar-loading-ball {
        animation: float 0.8s ease-in-out infinite;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        position: absolute;
        margin-left: 455px;
        margin-top: 17.5px;
        background: radial-gradient(circle at 75% 30%, white 5px, #861597 8%, #a667aa 60%, #9612aa 100%);
        box-shadow: inset 0 0 10px #C1AAC6, inset 5px 0 23px #9612aa, inset 44px 0px 30px #a667aa, inset -10px -30px 50px #fde9ea, inset 0 25px 70px #fde9ea, 0 0 25px #fff;
        opacity: 0.8;
        filter: blur(2px);
    }

    >#powerbar-results {
        border-radius: 20px;
        position: absolute;
        margin-top: 85px;
        border: none;
        outline: none;
        overflow: hidden;

        >.scroll-container {
            display: flex;
            flex-direction: column;
            background: #48446d;
            color: #f3f3f3;
            width: 500px;
            padding: 0 20px;
            gap: 5px;
            font-family: 'Nunito';
            font-size: 20px;
            font-weight: 400;
            overflow-y: auto;
            max-height: 520px;

            /* Style the scrollbar */
            &::-webkit-scrollbar {
                width: 10px;

                &-track {
                    background-color: transparent;
                }

                &-thumb {
                    border-radius: 100px;
                    background-color: #888;
                }
            }

            >.powerbar-result-cards-category {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: left;
                padding: 20px 20px;
                font-size: 22.5px;
                font-weight: 700;
            }

            >.powerbar-result-card {
                display: flex;
                flex-direction: row;
                align-items: left;
                justify-content: left;
                max-width: 460px;
                max-height: 60px;
                padding: 10px 20px;
                font-size: 20px;
                font-weight: 400;
                border: none;
                border-radius: 10px;
                outline: none;
                margin-bottom: 10px;
                transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94), filter 0.15s ease, background 0.15s ease;

                &:first-child {
                    margin-top: 10px;
                }

                >.powerbar-result-img {
                    width: 40px;
                    height: 40px;
                    border-radius: 50%;
                    margin-right: 20px;
                    cursor: pointer;
                }

                &[data-type="album"] {
                    >.powerbar-result-img {
                        border-radius: 10px;
                    }
                }

                &[data-type="command"] {
                    max-height: 170px;
                    cursor: pointer;

                    >.powerbar-result-text {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                        max-width: 450px;
                        padding: 0 20px;
                        gap: 7.5px;

                        >.description-wrapper {
                            display: flex;
                            align-items: center;

                            &:not(:has(br)) {
                                align-items: flex-end;
                            }

                            >.powerbar-custom-description {
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 0.8em;
                                font-weight: 600;
                                width: 100px;
                                margin-right: 10px;
                                color: #FF4500;
                            }
                        }

                        >.powerbar-result-name {
                            font-size: 20px;
                            font-weight: 650;
                            margin-bottom: 5px;
                            color: #00a2ff;
                        }

                        >.powerbar-result-artist {
                            color: #a0a0a0;
                        }

                        .powerbar-result-examples {
                            color: #2ecc71;

                            &:has(br) {
                                line-height: 1.25em;
                            }
                        }
                    }
                }

                &:not([data-type="command"]) {
                    >.powerbar-result-text {
                        display: flex;
                        flex-direction: column;
                        align-items: left;
                        justify-content: center;
                        max-width: 350px;
                        padding: 0 20px;

                        >.description-wrapper {
                            display: flex;
                            align-items: center;

                            >.powerbar-result-arg-description {
                                font-family: 'Courier New', Courier, monospace;
                                font-size: 15px;
                                margin-right: 10px;
                                white-space: nowrap;
                                overflow: hidden;
                                text-overflow: ellipsis;
                            }
                        }

                        >.powerbar-result-name {
                            font-size: 20px;
                            font-weight: 400;
                            margin-bottom: 5px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            max-width: 350px;
                            cursor: pointer;
                        }

                        >.powerbar-result-artist {
                            font-size: 15px;
                            font-weight: 400;
                            color: #a0a0a0;
                            width: fit-content;
                            max-width: 300px;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            cursor: pointer;
                        }
                    }
                }

                &:hover {
                    filter: brightness(1.1);
                    transform: scale(1.05);
                    background: #6e699c;

                    >.powerbar-result-img {
                        border-radius: 10px;
                    }

                    &[data-type="album"] {
                        >.powerbar-result-img {
                            border-radius: 5px;
                        }
                    }
                }
            }
        }
    }
}
