.LyricsEditdesktop__Editor-sc-19lxrhp-1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    .header-div {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-right: 10px;
      
      .header-buttons {
        margin-bottom: 10px;
      }
      
      button {
        cursor: pointer;
        font-size: 0.75rem;
        text-align: center;
        white-space: nowrap;
        text-overflow: ellipsis;
        background: transparent;
        border-width: 1px;
        border-style: solid;
        border-image: initial;
        border-radius: 1.25rem;
        padding: 0.25rem 0.75rem;
        overflow: hidden;

        &:hover {
            background-color: black;
            color: white;
        }
      }
      
      .header-option {
        margin: 0 10px 10px 0;
      }
    }
  }
  